<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Pong</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="game.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
  <body>
    <h1>Pong</h1>
    <div id="fundo">
      <div id="asteroide"></div>
      <div id="paddle1" class="paddle"></div>
      <div id="paddle2" class="paddle"></div>
    </div>    
  </body>
</html>



