#background{
	width: 700px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

#ball {
	position: absolute;
	width: 51px;
	height: 45px;
	left: 250px;
	top: 165px;
	border-radius: 50%;
	background-color: black;
}

.paddle {
	background: black;
	left: 30px;
	top: 100px;
	position: absolute;
	width: 10px;
	height: 100px;
}

#paddle2 {
	left: 670px;
}

.game {
	margin: 0 auto;
	width: 600px;
}